* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* ------HEADER START ------*/

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(design-assets/bgk-header.png);
    background-position: center;
    background-size:cover;
    position: relative;
}  

nav {
    display: flex;
    padding: 10px 300px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    padding: 10px;
    align-items: center;
}

.logo p {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: #2985aa;
    font-weight: lighter;
    margin-left: 10px;
}

.nav-links{
    text-align: right;
    align-items: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}

.nav-links ul li a {
    font-family: Arial, Helvetica, sans-serif;
    color: white    ;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

.nav-links ul li a:hover{
    background-color: transparent;
    color: #3abcef;
}
/* ------HERO START ------*/
.hero {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero h1 {
        font-family: "Playfair Display", serif;
        font-size: 34px;
        }


.hero p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.9em;
    color: lightgray;
}

.line {
    width: 50px;
    height: 0.5px;
    margin: 25px auto;
    background-color:#3abcef;
    display: inline-block;

}


.btn {
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    color: #3abcef; 
    border: 1px solid;
    padding: 12px 14px;
    position: relative;
    background-color: transparent;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
/* ------OUR STORY MAIN START ------*/

.our-story {
    width: 100;
    margin: 50px auto;
    background-color: white;;
}


.main {
    width: 100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 250px;
}

.main img{
    margin-bottom: 70px;
    margin-top: 20px;
    margin-left: 100px;
}

.story {
    width: 50%;
    padding-bottom: 20PX
}

.story h1 {
    Font-family: "Playfair Display", serif;
    color: #646060;
    font-size: 22PX;
    padding-bottom: 20PX;

}
.story p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #9a9191;
}  

/* ------OUR STORY MAIN END ------*/


/* Contat start */

#head

{
    margin-left: 50px;
}
#head1

{
    margin-left: 10px;

   
}


.contact

{

  background-color:white;
  
  display: flex;
  justify-content: left;


}

.contact1
{
  
  margin: 80px;
  width: 30%;

}

.contact2
{

  margin: 80px;
  width: 50%;
  border: 30px;
   padding: 10px 12px 12px 12px;
}

#tx

{           width: 300px;
            height: 40px;
            padding: 4px;
            border: 1px solid #ccc;
           
            font-size: 10px;
            margin-left: 50px;
}

#message_tx

{
   width: 300px;
   height: 100px;
    margin-left: 50px;
    font-size: 10px;
}

.submit_button

{

            background-color:white;
            height: 20px;
            width: 90px;
            border:rgb(29, 122, 125);
            border :solid;
            color: rgb(29, 122, 125);
            padding: 10px 12px;
            text-align: center;
            display: block;
            font-size: 10px;
            margin: 4px 2px;
            cursor:pointer;
            border-radius: 2px;
             margin-left: 50px;
}

.logos
{
            
            width: 300px;
            padding: 20px;
           
           
 
}

<<<<<<< HEAD
.logo1

{

}
=======
/* Contact End */

/* Footer Start */
>>>>>>> 745b6c898694b96190173585304b34cea5f1dd4d
.footer1
{
  color:white;
 
  text-align: center;
    padding: 0px;
    position: relative;



}