* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* ------HEADER START ------*/

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(design-assets/bgk-header.png);
    background-position: center;
    background-size:cover;
    position: relative;
}  

nav {
    display: flex;
    padding: 10px 300px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    padding: 10px;
    align-items: center;
}

.logo p {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: #2985aa;
    font-weight: lighter;
    margin-left: 10px;
}

.nav-links{
    text-align: right;
    align-items: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}

.nav-links ul li a {
    font-family: Arial, Helvetica, sans-serif;
    color: white    ;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

.nav-links ul li a:hover{
    background-color: transparent;
    color: #3abcef;
}
/* ------HERO START ------*/
.hero {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero h1 {
        font-family: "Playfair Display", serif;
        font-size: 34px;
        }


.hero p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.9em;
    color: lightgray;
}

.line {
    width: 50px;
    height: 0.5px;
    margin: 25px auto;
    background-color:#3abcef;
    display: inline-block;

}


.btn {
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    color: #3abcef; 
    border: 1px solid;
    padding: 12px 14px;
    position: relative;
    background-color: transparent;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
/* ------OUR STORY MAIN START ------*/

.our-story {
    width: 100;
    margin: 50px auto;
    background-color: white;;
}


.main {
    width: 100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 250px;
}

.main img{
    margin-bottom: 70px;
    margin-top: 20px;
    margin-left: 100px;
}

.story {
    width: 50%;
    padding-bottom: 20PX
}

.story h1 {
    Font-family: "Playfair Display", serif;
    color: #646060;
    font-size: 22PX;
    padding-bottom: 20PX;

}
.story p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #9a9191;
}  

/* ------OUR STORY MAIN END ------*/


/* Contat start */

#head

{
    margin-left: 50px;
   
}
#head1

{
    margin-left: 10px;

   
}


.contact

{

  background-color:white;
  display: flex;
  justify-content: center;
  height: 480px;

  
}

.contact1
{
  
  margin: 80px;
  
}

.contact2
{

  margin: 80px;
  
}

#tx

{           
    width: 300px;
    height: 40px;
    padding: 4px;
    border: 1px solid #ccc;
    font-size: 10px;
    margin-left: 50px;
}

#message_tx

{
    width: 300px;
    height: 100px;
    margin-left: 50px;
    font-size: 10px;
}

#subscribe_tx
{
    width: 120px;
    height: 30px;
   
} 

#footer_tx

{
    width: 150px;
    height: 40px;
    margin-left: -5px;
    font-size: 10px;
    color: white;
    background-color:transparent; 
    border-style: solid;
    
   
}
.submit_button

{

            background-color:white;
            height: 20px;
            width: 90px;
            border:rgb(29, 122, 125);
            border :solid;
            color: rgb(29, 122, 125);
            padding: 10px 12px;
            text-align: center;
            display: block;
            font-size: 10px;
            margin: 4px 2px;
            cursor:pointer;
            border-radius: 2px;
             margin-left: 50px;
}

.logos
{
            display:flex;
            width: 400px;
           
            
           
}

.logo1

{
  width: 150px;
}

.logo2

{
    width: 150px; 
}

/* Contact End */

/* Footer start */

.background-photo-section1
 {
    background-image: url('design-assets/bgk-footer.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 300px;
}

.container
{
  display: flex;
  margin: 10px;
  padding:30px;
  justify-content:center; 
}

.class_ul
{
    list-style:none;
}


.footer-col1 
{
   
 justify-content:space-around;
 width: 240px;
}
 .class_span
 {
   width: 160px;
  display: inline-block;
  font-size:small;
}

.class_span1

{
    display: inline-block;   
}
.foot-col1-head

{
    display:flex;
     font-family: "Montserrat", sans-serif;
       color: #2985aa;
    font-weight: lighter;
    font-size: smaller;
    
} 
.footer-col2
{
    
   padding-left:100px;
} 

.foot-col2-para1

{
  display:flex;
   
}

.tel
{
    font-size:smaller;
}
.foot-col2-para2


{
  display:flex;
   object-fit: cover;

}

.foot-col2-para3

{
   display:flex;
 
   
}

.arrow_icon

{
    background-color:#9a9191;
    width:40px;
    height: 40px;
    object-fit: cover;
}
#studio

{
  font-size:x-small;   
}
.footer-col3
{
   
   padding-left:140px;
} 

.footer_icon
{
    display:flex;
    
}

.Footer_down
{
    display: flex;
    color: white;
    font-size:x-small;
   
}

#one
{
   margin-left: 10%;
   padding-right:5px;
   
   width: 100px;
   text-wrap:nowrap;
}

#two
{
    margin-right: 10%;
    padding-left: 10%;
} 

/*  Footer End */


    /* Rabia */

.video-container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.thumbnail-wrapper {
    position: relative;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: url('design-assets/svg/play.svg') no-repeat;
    background-size: contain;
    cursor: pointer;
}


.thumbnail-title 
{
    color: #fff;
    font-size: 1.2em;
    margin-top: 10px;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%; 
}

.expertise-container {
    text-align: center;
    padding: 50px 200px 50px 200px;
}

.expertise-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px, 10px;
    color: #353535;
}

.expertise-p {
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 40px;
    color: #353535;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
}


.expertise-icon {
    flex: 1 1 calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.expertise-icon img {
    max-width: 30%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px ; 
}

.expertise-icon h3 {
    font-size: 0.9em;
    padding: 20px, 20px; 
    color: #141414;
    margin-top: 5px;
}

.expertise-icon p {
    font-size: 0.8em;
    color: #555; 
    margin: 0; 
    padding: 20px 20px;
}

.background-photo-section {
    background-image: url('design-assets/bgk-header.png');
    background-size: cover;
    background-position: center;
    padding: 20px 180px;
    text-align: center;
    color: #fff;
    height: auto;
}

.section-content {
    max-width: 1920px;
    padding: 30px 50px 50px 50px;
}
.section-content h1 {
    font-size: large;
}

.section-content p {
    padding-top: 10px;
}


.boxes-container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding-top: 50px;
}

.container-box {
    border: 1px solid #fff;
    position: relative; 
    overflow: hidden; 
    flex: 0 0 calc(25% - 10px);
    max-width: calc(25% - 10px); 
    max-height: 160px;

}

.container-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%; 
    background-color: #fff;

}

.inner-box {
    margin-top: 65px;
    padding-top: 20px;
    color: #ffffff;
    width: auto;
}

.inner-box h4 {
    font-size: small;
    font-weight: 500;
    padding-top: 30px; 
}

.inner-box p {
    font-size:x-small;
    font-weight: 100;
    margin-bottom: 20px;
}

.paragraph {
    margin-bottom: 20px; 
    font-size: 18px; 
}


.button-container {
    text-align: center;
    margin-bottom: 30px;
}

.button-container button {
    padding: 10px 20px; 
    border: 1px solid aqua;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    background-color: transparent; 
    color: aqua; 
}

.button-container button:hover {
    background-color: aqua; 
    color: white; 
}

@media screen and (max-width: 768px) {
    .paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .button-container button {
        padding: 8px 16px;
    }

}

